<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
    	<%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <% @relations.each do |r| %>
		<div class="panel-group">
			<div class="panel panel-default" style="width: 50%; transform: translate(50%);">
				<%= r.sportclub.clubname %> <br> <br>
				Addresse: <%= r.sportclub.address %> <br>
				Postleitszahl: <%= r.sportclub.postcode %> <br>
				Telefon: <%= r.sportclub.phonenumber %> <br>
			</div>
		</div>
	<% end %>
  </aside>
</div>