<div class="row">
	<h2>
		<% @clubs.each do |c| %>
			<div class="panel-group">
				<div class="panel panel-default" style="width: 50%; transform: translate(50%);">
					<%= c.clubname %> <br> <br>
					Addresse: <%= c.address %> <br>
					Postleitszahl: <%= c.postcode %> <br>
					Telefon: <%= c.phonenumber %> <br>
				</div>

				<%= form_for([c, c.club_user_relation.build]) do |f| %>
			  	    <div>
			  	      <%= f.submit 'Remember', style: "width: 50%; position: translate(50%)"%>
			  	    </div>
			  	<% end %>
			</div>
		<% end %>
	</h2>
</div>